<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <testsuites>
        <testsuite name="DefaultTests">
            <file>./tests/RouterServiceTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./App</directory>
        </whitelist>
    </filter>
</phpunit>